<!-- views/browse.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse Movies</title>
  <style>
body {
  background: rgb(237,86,59);
background: -moz-linear-gradient(180deg, rgba(237,86,59,1) 0%, rgba(0,0,0,0.9528186274509804) 14%);
background: -webkit-linear-gradient(180deg, rgba(237,86,59,1) 0%, rgba(0,0,0,0.9528186274509804) 14%);
background: linear-gradient(180deg, rgba(237,86,59,1) 0%, rgba(0,0,0,0.9528186274509804) 14%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ed563b",endColorstr="#000000",GradientType=1);
}

    .movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      background: rgb(64, 57, 162);
      background: linear-gradient(180deg, #ed563b 0%, rgba(101, 97, 97, 0.953) 54%);
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px; /* Adjusted padding */
      margin: 10px;
      width: calc(50% - 20px);
      max-width: 400px;
      text-align: center; /* Center text */
    }
    .card img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; /* Center the image */
    }
    h2, p {
      font-size: 1.2rem; /* Set text size to 1.2rem */
    }
  </style>
  
</head>
<body>

  <%- include('navbar.ejs') %>
  <%- include('randommovie.ejs', { movie: randomMovie }) %> <!-- Pass randomMovie here -->
  <div class="movies">
      <% movies.forEach(movie => { %>
      <div class="card">
          <h2 style="font-size: 25px;font-family:Verdana, Geneva, Tahoma, sans-serif;"><%= movie.title %> (<%= movie.year %>)</h2>
          <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;"><strong>Rating:</strong> <%= movie.rating %></p>
          <p style="color: lightgray;"><strong>Summary:</strong> <%= movie.summary.length > 150 ? movie.summary.substring(0, 150) + '...' : movie.summary %></p>
          <p style="font-family:Verdana, Geneva, Tahoma, sans-serif;"><strong>Trailer Link:</strong> <a href="<%= movie.trailerLink %>">Watch Trailer</a></p>
          <img src="<%= movie.imageUrl %>" alt="<%= movie.title %> Poster">
      </div>
      <% }) %>
  </div>
  
</body>
</html>
