<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Browse Movies</title>
  <style>
    body {
        background-image: url('https://images5.alphacoders.com/573/573475.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .movies {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      background: rgb(64, 57, 162);
      background: linear-gradient(180deg, rgb(237, 86, 59) 0%, rgba(101, 97, 97, 0.953) 54%);
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 8px; /* Adjusted padding */
      margin: 10px;
      width: calc(50% - 20px);
      max-width: 400px;
      text-align: center; /* Center text */
    }
    .card img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; /* Center the image */
    }
    h2, p {
      font-size: 1.2rem; /* Set text size to 1.2rem */
    }
    .section {
      background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 5px;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  </style>
</head>
<body>

  <% include('navbar.ejs') %>

  <div class="section">
    <h2>Welcome to Our Movie Collection</h2>
    <p>Check out our latest selection of movies below:</p>
  </div>

  <div class="movies">
    <% movies.forEach(movie => { %>
      <div class="card">
        <h2><%= movie.title %> (<%= movie.year %>)</h2>
        <p><strong>Rating:</strong> <%= movie.rating %></p>
        <p style="color: lightgray;"><strong>Summary:</strong> <%= movie.summary.length > 150 ? movie.summary.substring(0, 150) + '...' : movie.summary %></p>
        <p><strong>Trailer Link:</strong> <a href="<%= movi